<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Color Palette</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="color-palette">
        <div class="color" style="background-color: #f00;"></div>
        <div class="color" style="background-color: #0f0;"></div>
        <div class="color" style="background-color: #00f;"></div>
        <div class="color" style="background-color: #ff0;"></div>
        <div class="color" style="background-color: #f0f;"></div>
        <div class="color" style="background-color: #0ff;"></div>
      </div>
	  <div class="prompt">
		<form>
			<div class="prompt-form">
				<label for="prompt-text">User Prompt</label>
				<input type="text" name="prompt-text" />
				<button type="submit">
					Generate Color
				</button>
			</div>
		</form>
	  </div>
    </div>
  </body>
</html>
